
.footer-title {
	height: 100% !important;
	width: 15% !important;
	padding: 1rem 1rem !important;
}

.footer-body {
	height: 100% !important;
	width: 100% !important;
	padding: 1rem 1rem !important;
}

.message {
	margin-bottom: 0.2rem;
	background-color: white;
}

.messages {
	list-style: none;
	padding: 1rem;
}

.sender {
	text-align:right;
	margin-bottom: auto;
	margin-top: auto;
	margin-left: 2rem;
}

.text {
	margin-bottom: auto;
	margin-top: auto;
	margin-left: 1rem;
}

.chatroom {
	background: gainsboro;
}

.statusbar {
	width: 100% !important;
	height: 4rem !important;
	padding: 1rem;
	text-align: right;
	font-size: larger;
	font-weight: bold;
	background: lightsalmon;
	margin-top: 1rem;
}

.inputcard {
	background: mistyrose;
}

body {
	background-color: whitesmoke;
}